
body {
  background-color:#f6f6f6 !important;
}


#main {
  margin-top: 9px;
  margin-bottom: 9px;
  padding: 18px;

  .done {
    a { color: red; }
    text-decoration: line-through;
  }
  a#clearer { float: right; }

}

